<%-include('../includes/header.ejs')%>


    <div class="admin h-100">
        <div class="row">
            <%-include('../includes/adminsidebar.ejs');%>
          
            <div class="col-10 h-100 p-5">
              </div>
        </div>
    </div>





