<%-include('../includes/header.ejs');%>
<div class="row">
    <%-include('../includes/adminsidebar.ejs');%>
    <div class="col-10 p-5">
        <h1 class="p-3">Les catégories</h1>
        <a href="" class="btn btn-dark float-right my-3"> <i class='px-1 bx bx-plus'></i> Ajouter</a>
        <table class="table  shadow p-3 mb-5 bg-body rounded  border-opacity-10">
            <thead class="bg-dark text-light rounded-top">
              <tr>
                <th scope="col">Titre</th>
                <th scope="col">contenu</th>
                <th scope="col">image</th>
                <th scope="col">Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Cat1</th>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, deserunt!</td>
                <td><img class="catimg" src="https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></td>
                <td><div class="pt-4">
                  <i class='px-1 text-primary bx bxs-edit'></i><i class=' px-1 bx bxs-trash text-danger'></i>
                </div>
                </td>
                
               
              </tr>
              <tr>
                <th scope="row">Cat2</th>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fuga?</td>
                <td><img class="catimg" src="https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></td>
                <td><div class="pt-4">
                  <i class='px-1 text-primary bx bxs-edit'></i><i class=' px-1 bx bxs-trash text-danger'></i>
                </div>
                </td>
              </tr>
              <tr>
              
            </tbody>
          </table>
    </div>
     


</div>
