<%-include('../includes/header.ejs');%>
<div class="row">
    <%-include('../includes/adminsidebar.ejs');%>
    <div class="col-10 p-5">
        <h1 class="p-3">La galerie</h1>
      <div class="d-flex justify-content-end">
        <a href="" class="btn btn-dark my-3"> <i class='px-1 bx bx-plus'></i> Ajouter</a>
      </div>
     
     
      
        <div class="row  shadow-sm p-3 mb-5 bg-light">
            <div class="col-md-3 col-12 p-2 ">
                <div class="imggal rounded" style="background-image: url('https://images.pexels.com/photos/979310/pexels-photo-979310.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');"></div>

            </div>
            <div class="col-md-3 col-12 p-2 ">
                <div class="imggal rounded" style="background-image: url('https://images.pexels.com/photos/1295572/pexels-photo-1295572.jpeg?auto=compress&cs=tinysrgb&w=600');"></div>

            </div>
            <div class="col-md-3 col-12 p-2 ">
                <div class="imggal rounded" style="background-image: url('https://images.pexels.com/photos/992816/pexels-photo-992816.jpeg?auto=compress&cs=tinysrgb&w=600');"></div>

            </div>
            <div class="col-md-3 col-12 p-2 ">
                <div class="imggal rounded" style="background-image: url('https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=600');"></div>

            </div>
         
        </div>
        


       
    </div>
     


</div>
