<%-include('../includes/header.ejs');%>
<div class="row">
    <%-include('../includes/adminsidebar.ejs');%>
    <div class="col-10 p-5 ">
      <div class="shadow-sm p-3 mb-5 bg-light rounded">
        <div class="d-flex justify-content-end">
            <i class='px-1 text-primary bx bxs-edit'></i>
        </div>
        <h1 class="p-3">Mon profile</h1>
        <div class="label_value d-flex pb-3">
            <span class="bold px-2">Entreprise :</span> <span>Capgemini</span>
        </div>
      
        <div class="label_value d-flex pb-3">
            <span class="bold px-2">Adresse :</span> <span>Capgemini</span>
        </div>
        <div class="label_value d-flex pb-3">
            <span class="bold px-2">Email du compte :</span> <span>admin@capgemini.fr</span>
        </div>
        <div class="label_value d-flex pb-3">
            <span class="bold px-2">Téléphone :</span> <span>07 56 90 43 21</span>
        </div>
       
        <div class="label_value d-flex pb-3">
            <span class="bold px-2">Email de contact :</span> <span>contact@capgemini.fr</span>
        </div>
        <div class="label_value d-flex pb-3">
            <span class="bold px-2">Logo :</span> <span><img class="catimg" src="https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></span>
        </div>
      </div>
    </div>
     


</div>
