<div class="col-2 sidebarcol min-vh-100">
<a class="text-decoration-none" href="/admin">
    <h1 class="text-light text-center py-5">LOGO</h1></a>
    <ul class="navbarul px-3">

        <li class="py-3 ">
            <a href="/admin" class="text-light font-weight-bold text-decoration-none"><i class=' px-2 bx bxs-book-content'></i>
            <span class="links_name text-light">Pages</span></a>
        </li>

        <li class="py-3 ">
            <a href="/admin/navbar" class="text-light font-weight-bold text-decoration-none"><i class=' px-2 bx bx-dots-horizontal'></i>
            <span class="links_name text-light">Navbar</span></a>
        </li>

        <li class="py-3 ">
            <a href="/admin/categories" class="text-light font-weight-bold text-decoration-none"><i class=' px-2 bx bxs-tag'></i>
            <span class="links_name text-light">Catégories</span></a>
        </li>

        <li class="py-3 ">
            <a href="/admin/services" class="text-light font-weight-bold text-decoration-none"><i class=' px-2 bx bxs-book-content'></i>
            <span class="links_name text-light">Services</span></a>
        </li>

        <li class="py-3 ">
            <a href="/admin/galery" class="text-light font-weight-bold text-decoration-none"><i class=' px-2 bx bx-photo-album'></i>
            <span class="links_name text-light">Galerie</span></a>
        </li>
        <li class="py-3 ">
            <a href="/admin/profile" class="text-light font-weight-bold text-decoration-none"><i class=' px-2 bx bx-user-circle'></i>
            <span class="links_name text-light">Profile</span></a>
        </li>

            
    
    </ul>




</div>