<!-- Footer -->
<footer class="py-2 bg-dark container-fluid">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->


</body>


</html>