<%-include('../includes/header.ejs')%>
<%-include('../includes/navbar.ejs');%>


  

<body >

    <div class="simplesection h-25 py-5"
        style="background-image: url('https://images.pexels.com/photos/326268/pexels-photo-326268.jpeg?auto=compress&cs=tinysrgb&w=600');background-size: cover;background-repeat:no-repeat;background-position: center;background-color: rgba(0,0,0,0.5);">

        <div class="infos container">
            <h1 class="text-light">Title</h1>
            <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolorum impedit
                cum aperiam expedita
                ut pariatur nulla voluptatibus sequi fuga nemo repellendus, quas quasi commodi quae, magnam rerum
                voluptates odio voluptatum at. Incidunt quas beatae eos nemo inventore laboriosam, explicabo similique
                sunt sed voluptas sint reiciendis placeat quos laudantium saepe dolore error culpa illum magnam, unde
                corrupti. Saepe, nobis amet. Libero, doloremque possimus adipisci impedit dignissimos maxime excepturi
                culpa accusamus dolor nostrum, velit facere laborum dicta obcaecati est perferendis eligendi ullam
                aspernatur laboriosam sed dolore vero. Temporibus, quia? Vel debitis nam libero maiores similique
                cupiditate ut omnis nostrum sint asperiores ratione temporibus qui, dolor vitae optio quos enim ipsum.
                Fugiat pariatur mollitia reprehenderit alias dolores debitis beatae perferendis explicabo impedit
                repellendus, quae vero ullam eligendi ducimus exercitationem praesentium dolore, odio sapiente. Modi
                ratione, non dolorum a obcaecati accusamus vero eveniet amet, veniam architecto quas corporis? Incidunt
                repudiandae quis impedit veniam dolor animi!</p>
        </div>


    </div>
    <div class="cardsection container py-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 p-3 text-center">
                <h1>Titre de la card section</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae optio, sit maiores, repellendus iusto, quae odio fuga assumenda beatae veniam modi? Quod ipsam, aliquam nostrum quisquam natus repellat! Nemo non, quaerat sequi id totam veniam? Praesentium quos ipsum consequuntur ullam ex atque excepturi aliquid nam quae officiis? Libero, sapiente nemo.
        </div>
        <div class="row">

            <div class="col-md-4 col-12">
                <div class="imgcard"
                    style="background-image:url('https://images.pexels.com/photos/1640771/pexels-photo-1640771.jpeg?auto=compress&cs=tinysrgb&w=600') ;">

                </div>
                <div class="infos py-4">
                    <h3>Card 1</h3>
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus amet, sit repellendus quos id assumenda.</p>

                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="imgcard"
                    style="background-image:url('https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=600') ;">

                </div>
                <div class="infos py-4">
                    <h3>Card 1</h3>
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus amet, sit repellendus quos id assumenda.</p>

                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="imgcard"
                    style="background-image:url('https://images.pexels.com/photos/434295/pexels-photo-434295.jpeg?auto=compress&cs=tinysrgb&w=600') ;">

                </div>
                <div class="infos py-4">
                    <h3>Card 1</h3>
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus amet, sit repellendus quos id assumenda.</p>

                </div>
            </div>
            
        </div>

    </div>
</div>
    <div class="carouselsection py-5">
      

    </div>
    <div class="leftsection">
        <div class="row">
            <div class="col-md-6 col-12 imgleft" style="background-image: url('https://images.pexels.com/photos/1660027/pexels-photo-1660027.jpeg?auto=compress&cs=tinysrgb&w=600');">

            </div>
            <div class="col-md-6 col-12">
               <div class="px-4">
                <h1>Image left setion</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius deleniti, mollitia quidem autem placeat sequi dicta dolore! Quas veniam beatae at doloribus. Vel molestiae inventore officiis sunt expedita delectus laborum temporibus. Impedit quo aliquid error ipsum ab placeat fugiat tempora eveniet, sint consequuntur at illo totam qui rerum perferendis numquam eius animi non iusto quia nemo laudantium. Tempore, ex similique illo in perferendis velit explicabo asperiores sapiente fuga quis.

               </div>
            </div>
        </div>

    </div>
    <div class="rightsection py-5">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="px-4">
                 <h1>Image left setion</h1>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius deleniti, mollitia quidem autem placeat sequi dicta dolore! Quas veniam beatae at doloribus. Vel molestiae inventore officiis sunt expedita delectus laborum temporibus. Impedit quo aliquid error ipsum ab placeat fugiat tempora eveniet, sint consequuntur at illo totam qui rerum perferendis numquam eius animi non iusto quia nemo laudantium. Tempore, ex similique illo in perferendis velit explicabo asperiores sapiente fuga quis.
 
                </div>
             </div>
            <div class="col-md-6 col-12 imgright" style="background-image: url('https://images.pexels.com/photos/793785/pexels-photo-793785.jpeg?auto=compress&cs=tinysrgb&w=600');">

            </div>
           
        </div>

    </div>
    <div class="gallerysection">
        <div class="row">
            <div class="col-md-8 offset-md-2 p-3 text-center">
                <h1>Titre de la card section</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae optio, sit maiores, repellendus iusto, quae odio fuga assumenda beatae veniam modi? Quod ipsam, aliquam nostrum quisquam natus repellat! Nemo non, quaerat sequi id totam veniam? Praesentium quos ipsum consequuntur ullam ex atque excepturi aliquid nam quae officiis? Libero, sapiente nemo.
        </div>
        <div class="row">

            <div class="col-md-4 col-12 p-0">
                <div class="imgcard"
                    style="background-image:url('https://images.pexels.com/photos/1630588/pexels-photo-1630588.jpeg?auto=compress&cs=tinysrgb&w=600') ;">

                </div>
                
            </div>
            <div class="col-md-4 col-12  p-0">
                <div class="imgcard"
                    style="background-image:url('https://images.pexels.com/photos/1120575/pexels-photo-1120575.jpeg?auto=compress&cs=tinysrgb&w=600') ;">

                </div>
                
            </div>
            <div class="col-md-4 col-12  p-0">
                <div class="imgcard"
                    style="background-image:url('https://images.pexels.com/photos/1171170/pexels-photo-1171170.jpeg?auto=compress&cs=tinysrgb&w=600') ;">

                </div>
                
            </div>
            
        </div>

    </div>

    </div>

 
    <div class="contactsection container">
        <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>San Francisco, CA 94126, USA</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@mdbootstrap.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->

    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>
    <%-include ('../includes/footer.ejs')%>